@import 'normalize-scss';


@include normalize();


$red: #eb3731; // //f75649
$yellow: #f7d449;
$blue: #608fdd;
$white: #f4f4ec;
$black: darken($blue, 55%);

$primary: $red;
$secondary: $yellow;
$tertiary: $blue;


$primary-light: lighten($primary, 10%);
$primary-dark: darken($primary, 10%);

$lightest: $white;

$light: darken($lightest, 10%);
$dark: $black;

html {
  font-size: 18px;
  
  @media (min-width: 1000px) {
    font-size: 24px;
  }
  @media (min-width: 1200px) {
    font-size: 28px;
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
}

body {
  color: $dark;
	background-color: $lightest;
	font-family: "freight-display-pro", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-style: normal;
  font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

a {
  color: $primary;
  text-decoration: none;
  mix-blend-mode: multiply;
  &:hover, &:focus {
    color: $primary-light;
    text-decoration: none;
  }
}

p {    
    padding-bottom: 1rem;
  }


.portfolio-entry {

}

.site-header {
  
  background-color: transparent;
  padding-top: 1rem;
  @media (min-width: 640px) {
    padding-top: 2rem;
  }
}



.will-pin {
  transition: transform 0.5s ease, background-color 0.5s linear, box-shadow 0.5s ease;
  position: fixed;
  z-index: 1;
  right: 0;
  left: 0;
  top: 0;
}



.not-at-top {
  background-color: rgba($lightest, 0.95);
  transform: translateY(-100%);
  box-shadow: 0 1px 1px rgba(black, 0);
  &.pinned {
    transform: translateY(-1rem);
    @media (min-width: 640px) {
      transform: translateY(-2rem);
    }
  }

  &.unpinned {
    transform: translateY(-100%);
  }
}

.at-top .site-nav {
  border-top-color: rgba($primary, 1);
}

.not-at-top .site-nav {
  border-bottom-color: rgba($black, 0.15);
}

.padded {
  padding-left: 1rem;
  padding-right: 1rem;
  @media (min-width: 640px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  
}

.site-nav {
  display: flex;
  flex-flow: column wrap;
  transition: border-color 0.25s linear;
  border-top: 1px solid rgba($primary, 0);
  border-bottom: 1px solid rgba($black, 0);
  @media (min-width: 640px) {
    flex-flow: row wrap;
  }
}


.site-logo {
  font-size: 1rem;
  margin: 0;
  flex-grow: 1;
  font-weight: 400;
  > a {
    display: block;
    padding-top: 1rem;
    @media (min-width: 640px) {
      padding-bottom: 1rem;
    }
  }
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  > li {
    > a {
      @media (min-width: 640px) {
        padding-left: 1rem;
      }
    }
    &:not(:last-child) > a {
      padding-right: 1rem;

    }
    > a {
      display: block;
      padding: 1rem 0;
    }
  }
}


.content-wrapper {
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  
}

.centered {
  position: relative;
  > * {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.section-seperator {

  &::before {
    background-color: rgba($black, 0.15);
    content: '';
    width: 100%;
    max-width: 1200px;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    position: relative;

  }
}

.portfolio-section{
  $padding: 2rem;
  $padding-large: $padding*2;
  
  position: relative;
  
  
  > .container {
    padding-top: $padding;
    padding-bottom: $padding;
    @media (min-width: 640px) {
      padding-top: $padding-large;
      padding-bottom: $padding-large;
    }
  }

  &.first > .container {
    padding-top: 6rem;
    @media (min-width: 640px) {
      padding-top: $padding-large;
    }
  }
	
}

.shape-background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.shape {
  position: absolute;
  mix-blend-mode: darken;
}


$related-shape-y: 25rem;
$related-shape-x: 60%;

.shape1 {
  width: 30rem;
  height: 30rem;
  left: $related-shape-x;
  bottom: $related-shape-y;
  background-color: $secondary;
  
  opacity: 0.9;
}


.shape2 {
  left: -10%;
  top: 20rem;
  width: 0; 
  height: 0; 
  opacity: 0.5;
  border-left: 10rem solid transparent;
  border-right: 10rem solid transparent;
  border-top: 10rem solid $tertiary;
  transform: rotate(30deg);
}


.shape3 {
  width: 10rem;
  height: 10rem;
  left: $related-shape-x;
  margin-left: -8rem;
  margin-bottom: -8rem;
  bottom: $related-shape-y;
  background-color: $primary;
  opacity: 0.1;
}

.shape4 {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 50rem;
  height: 1px;
  right: -28%;
  top: 69%;
  background-color: $primary;
}



/// portfolio sections

@mixin darkSection($bgColor: $dark) {
  background-color: $bgColor;
  color: $lightest;
}

@mixin lightSection($bgColor: white) {
  background-color: $bgColor;
}

img {
  max-width: 100%;
}

.section-images {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.entry-design-for-good {
  .portfolio-section-research {
    @include lightSection($secondary);
    mix-blend-mode: multiply;
  }
  .portfolio-section-logo {
    background-color: white;
    text-align: center;
    .section-heading {
       display: none;
    }
  }
}







