<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ data.fields.name }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="author" content="Morgan Stone">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
  </head>
  <body class="portfolio-entry entry-{{data.fields.slug }}">
    <div class="shape-background">
      <div class="shape shape1"></div>
      <div class="shape shape2"></div>
      <div class="shape shape3"></div>
      <div class="shape shape4"></div>
    </div>
    
    <div class="site-wrapper">
      <header class="site-header">
        <h1 class="site-logo"><a href="/">Design by Morgan</a></h1>
        <nav class="site-nav" role="navigation">
          <ul class="menu">
            <li><a href="/">Porfolio</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>  
      </header>
      <main class="site-main">
        <div class=" portfolio-entry">
          <div class="portfolio-section first">
            <div class="content-wrapper ">
              <h1>{{ data.fields.name }}</h1>
              <div class="content" data-markdown>{{ data.fields.lead }}</div>
              <h2>My Role</h2>
              <div class="content" data-markdown>{{ data.fields.role }}</div>
              
            </div>
          </div>


          {{#each data.fields.portfolioSections}}
            <section class="portfolio-section">
              <div class="content-wrapper">
                <h2>{{fields.heading}}</h2>
                <div class="content" data-markdown>{{fields.body}}</div>
                <ul>
                  {{#each fields.media }}
                  <li>
                    <img
                      alt="{{ fields.title }}"
                      src="https:{{fields.file.url}}?w=200">
                  </li>
                  {{/each}}
              </ul>
            </div>
            </section>
          {{/each}}

          
        </div>
      </main>
      <footer class="site-footer"></footer>
    </div>
    <script src="https://use.typekit.net/ihp7loa.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>
