<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="author" content="Morgan Stone">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
  </head>
  <body>
    <main class="row">
      <div class="columns small-12">
        {{{contents}}}
        <ul>
          {{#each data.entries}}
          <li>
            <a href="{{ _fileName }}">
              <img
                alt="{{ fields.name }}"
                src="https:{{fields.featuredImage.fields.file.url}}?fit=thumb&f=top_left&h=200&w=200">
            </a>
          </li>
          {{/each}}
        </ul>
      </div>
    </main>
  </body>
</html>
