<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ data.fields.name }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="author" content="Morgan Stone">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body class="portfolio-entry entry-{{data.fields.slug }}">
    <div class="shape-background">
      <div class="shape shape1"></div>
      <div class="shape shape2"></div>
      <div class="shape shape3"></div>
      <div class="shape shape4"></div>
    </div>
    
    <div class="site-wrapper">
      <header class="site-header headroom">
        <div class="container padded">
          <nav class="site-nav" role="navigation">
            <h1 class="site-logo"><a href="/">Design by Morgan</a></h1>
            <ul class="menu">
              <li><a href="/">Porfolio</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <main class="site-main">
        <div id="introduction" class="portfolio-section padded first dark">
          <div class="container">
            <div class="content-wrapper ">
              <h1 class="section-heading">{{ data.fields.name }}</h1>
              <div class="content" data-markdown>{{ data.fields.lead }}</div>
              <h2 class="section-heading">My Role</h2>
              <div class="content" data-markdown>{{ data.fields.role }}</div>
              <ul>
                <li>
                  <a href="#introduction">Introduction</a>
                </li>
                {{#each data.fields.portfolioSections}}
                <li>
                  <a href="#{{fields.slug}}">{{fields.heading}}</a>
                </li>
                {{/each}}
              </ul>

            </div>
          </div>

        </div>

        {{#each data.fields.portfolioSections}}
        <section id="{{fields.slug}}" class="portfolio-section padded section-seperator portfolio-section-{{fields.slug}}">
          <div class="container">
            <div class="content-wrapper">
              <h2 class="section-heading">{{fields.heading}}</h2>
              <div class="content" data-markdown>{{fields.body}}</div>
              <ul class="section-images">
                {{#each fields.media }}
                <li>
                    <img
                      class="section-image"
                      alt="{{ fields.title }}"
                      src="https:{{fields.file.url}}?w=1200">
                    <p class="image-caption">{{fields.description}}</p>
                </li>
                {{/each}}
                </ul>
              
            </div>
          </div>
        </section>
        {{/each}}

      </main>
      <footer class="site-footer"></footer>
    </div>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <script src="/scripts/headroom.js"></script>
    <script src="https://use.typekit.net/ihp7loa.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script type="text/javascript">
      var myElement = document.querySelector("header");
      // construct an instance of Headroom, passing the element
      var headroom  = new Headroom(myElement, {
        offset : 100,
        tolerance: 5,
        classes: {
          initial: 'will-pin',
          pinned: 'pinned',
          unpinned: 'unpinned',
          top : 'at-top',
          // when below offset
          notTop : 'not-at-top',
          // when at bottom of scoll area
          bottom : 'at-bottom',
          // when not at bottom of scroll area
          notBottom : 'not-at-bottom'
        }
      });
      // initialise
      headroom.init();
    </script>
  </body>
</html>
